.services {
  float: left;
  width: 18%;
  margin: 1%;
  padding: 0%;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  border: solid 1px;
  border-color: #2455a7;
}

.icon {
  display: flex;
  margin-bottom: 3rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.black {
  color: black;
}

.bold {
  font-weight: bold;
}